.text-center {
    text-align: center;
}

// flex
.flex-box(@direction: row, @justifyContent: flex-start, @alignItem: flex-start, @flex-wrap: nowrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    direction: @direction;
    justify-content: @justifyContent;
    align-items: @alignItem;
    flex-wrap: @flex-wrap;
}
.flex-start-center-no {
    .flex-box(row, flex-start, center);
}
.flex-end-center-no {
    .flex-box(row, flex-end, center);
}
.flex-center-center-no {
    .flex-box(row, center, center);
}
.form-box {
    width: 400px;
    margin: 0 auto;
}